/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style Utama */

body {
    font: 16px/28px 'New Tegomin', serif;
    background-image: url(img/sativa.png);
    color: #333;
}

.top-bar {
    height: 40px;
    background-color: skyblue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid salmon;
}

/* container */
.container {
    width: 960px;
    margin: 80px auto 0;
    background-color: #fff;
    position: relative;
}

.facebook {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url(img/twitter.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    position: absolute;
    top: -9px;
    right: -81px;
}

.header {
    padding: 20px;
    padding-bottom: 12px;
}

.header .Judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    margin-top: 25px;
    display: inline-block;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 4px;
    transition: 0.5s;

}

.header a:hover {
    background-color: rgb(245, 121, 121);
    color: #fff;
}

.hero-image {
    height: 400px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-bottom: 5px solid salmon;
    border-top: 5px solid skyblue;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
}

.main .penulis {
    font-size: 12px;
    margin-top: -5px;
}

.main .penulis a {
    text-decoration: none;
    color: salmon;
}

.main p {
    margin-bottom: 17px;

}

/* Sidebar */
.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    background-color: skyblue;
    border-bottom: 3px solid salmon;
    padding: 5px;
    border-radius: 3px;
    color: #fff
}

.sidebar img {
    width: 70px;
    /* height: 100px; */
    box-shadow: 5px 5px 5px #ccc;
    float: left;
    margin-right: 12px;
}

.sidebar p {
    font-size: 12px;
    line-height: 18px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    font-weight: bold;
    padding: 3px;
}

.sidebar a:hover {
    background-color: salmon;
    padding: 5px;
    color: #fff;
}

.footer {
    height: 30px;
    background-color: #333;
    text-align: center;
    border-top: 5px solid salmon;
    padding: 10px;
}

.footer p {
    color: #fff;
}

/* Micro Clear Fix*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }